#! /usr/bin/env bash

sudo -u kartsnms /opt/kartsnms/lnms smokeping:generate --targets > /etc/smokeping/config.d/kartsnms-targets.conf
sudo -u kartsnms /opt/kartsnms/lnms smokeping:generate --probes  > /etc/smokeping/config.d/kartsnms-probes.conf

systemctl reload smokeping > /dev/null 2<&1
